@model MvcStok.Models.Entitiy.TBL_URUNLER
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div  class="form-group">
        @Html.LabelFor(m => m.URUNID)
        @Html.TextBoxFor(m => m.URUNID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.URUNAD)
        @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.URUNKATEGORİ)
        @*@Html.TextBoxFor(m => m.URUNKATEGORİ, new { @class = "form-control" })*@
        @Html.DropDownListFor(m => m.TBL_KATEGORİLER.KATEGORID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
      
        <br />
        @Html.LabelFor(m => m.FIYAT)
        @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
        <br />
    </div>

<div style="margin-top:15px">
    <button class="btn btn-info"> ÜRÜN GÜNCELLE</button>
</div>
}
